.ant-list-item-meta-avatar{
    margin: auto;
}

.custom-ant-menu-item{
    height: fit-content;
}

.side-nav-header .ant-menu-horizontal{
    border-bottom: 0px ;
}

.clickable-list-item:hover{
    cursor: pointer;
    background: #eceff1;
}
